$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$container-max-width: 1020px;
$headerInner-height: 50px;
$headerInner-max-width: 984px;
$header-nav-primary-max-width: $headerInner-max-width / 3;
$header-nav-primary-tab-width: $header-nav-primary-max-width / 3 - 10px;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* For angularJS ui bootstrap compatibility */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Space out content a bit */
body {
  line-height: 1.6em;
}

// Header -------------------------------------------------
/* Custom page header */
.header {
  width: 100%;
  background: none repeat scroll 0% 0% #272727;
  font-size: 13px;
  z-index: 9999;
  top: 0px;
  left: 0px;
  position: fixed;
  text-align: left;
}
// Inner Header Wrap
.headerInner {
  position: relative;
  background: none repeat scroll 0% 0% #272727;
  max-width: $headerInner-max-width;
  height: $headerInner-height;
  margin: 0px auto;
}
// Header Navigation
.nav-primary {
  float: right;
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  max-width: $header-nav-primary-max-width;

  li {
    display: inline;
    height: $headerInner-height;
    line-height: $headerInner-height;
    float: left;
    margin: 10px 5px 0px 5px;
    a{
      display:block;
      width: $header-nav-primary-tab-width;
      color: white;
      font-size: 16px;
      font-weight: bolder;
      text-decoration: none;
      outline: 0px;
    }
  }
  li.active {
    background-color: white;
    a {
      color:black;
    }
  }
  li:hover {
    background-color: #e3e3e3;
    a {
      color:black;
    }
  }
}

// Content -------------------------------------------------
.content {
  padding-top: $headerInner-height + 40px;
}


// Footer -------------------------------------------------
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: $container-max-width
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}


#intro {

}

.tech-container {
  .tech-header{
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
  }
  li {
    display: inline;

    a {
      display: inline-block;
      font-weight: 700;
      margin: 0px 5px 10px 0px;
    }
  }
}

/*.tech-container {
  ul {
    list-style: none;
  }
  li {
    display: inline;
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #D9534F;
    cursor: pointer;
    a {
      display: inline-block;
      width: auto;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      color: white;
      outline: 0px;
    }
  }
  li:hover {
    background-color: #ca3e36;
  }
}*/

.carousel-indicators {
  background: rgb(237, 213, 209); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(109, 123, 237, 0.20);
}

.github-repo-modal {
  margin-top: $headerInner-height + 20px;
  margin-left: auto;
  margin-right: auto;

  img {
    position: relative;
    width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
