
<div id="intro">
  <section id="about-me">
    <h2>プロフィール</h2>

    <p>始めまして, 僕の名前はBensonと言います、 プログラマーです。 </p>

    <p>
      主にはJavascriptとjQueryやAngularJSとその他のツール色々を使って様々なウェブ関連の開発をしています。
    </p>
    <p>
      Node.jsやPHPを使ったバックエンドの開発経験もあります。
    </p>
    <p>
      Node.jsには基本的にExpressとMongoDBを開発環境にしています。
    </p>
    <p>
      PHPに関しては, Windows環境でのXAMPPを使ってます。
    </p>
    <br/>
    <p>
     僕の履歴書は<a ng-href="{{lookupTerm('resume')}}" download="resume.pdf" target="_blank">ここ</a>です。
    </p>
  </section>
</div>
