
<div id="intro">
  <section id="about-me">
    <h2>關於我</h2>

    <p>您好, 我的名字是Benson Chang.  我是一個有工程學背景的程序員 </p>

    <p>
      我的專門是應用Javascript和有關的程序庫(像是jQuery)加上程序框架(AngularJS)來開發前端網上應用程式.
    </p>
    <p>
      我也有用過Node.js, PHP來寫後端伺服器和連接上數據庫的經驗.
    </p>
    <p>
      關於Node.js, 我通常的開發環境是用Express程序框架和MongoDB數據庫.
    </p>
    <p>
      關於PHP, 我的環境是Windows系統的XAMPP.
    </p>
    <br/>
    <p>
      您可以在<a ng-href="{{lookupTerm('resume')}}" download="resume.pdf" target="_blank">這裡</a>查看我的簡歷.
    </p>
  </section>
</div>
