

<section id="about-me">
  <h2>關於我</h2>

  <section id="intro">
    <p>你好, 我的名字是Benson.  我是一個有工程學背景的程序員. </p>
  </section>

  <section id="story">
    <h4>請先讓我告訴你我的故事:</h4>
    <p>
      我從大學畢業時所取得的學士學位是生物醫學工程, 而當時我所考慮的是繼續讀生物醫學工程的碩士學位.
      正當我在東想西想的時候, 我偶然地碰上了學習寫電腦程式的網上教學.
      我從以前就對電腦程序有興趣, 但是一直沒有機會真的去學, 所以我決定利用這個機會學看看.
      剛開始的學習難度很高, 尤其因為是自學, 其難度有點像學一個新的語言.
      不過一旦學會了基本語言規則和用法, 我開始一點一點地理解了寫程序的方法和思路.
      之後我讀了很多書, 不只學會了新的程序語言還發現了如何去解決不同的問題.
      現在我能了解和感謝以前認為是理所當然的電腦程式和網站, 並且吸收新的知識.
    </p>
  </section>

  <section id="skill">
    <p>
      My main area of focus currently is web development using Javascript,
      along with libraries such as jQuery and frameworks such AngularJS for building front-end web applications.
      I am also skilled in back-end development. My preferred server-side languages are Node.js and PHP, with databases MongoDB and MySQL respectively.
      For Node.js, I use ExpressJS as my Node server framework. For PHP, I use XAMPP as my stack development environment in Windows.
    </p>
  </section>
</section>