
<section id="about-me">
  <h2>About Me</h2>

  <section id="intro">
    <p>Hello, my name is Benson and I am a programmer with an engineering background. </p>
  </section>

  <section id="story">
    <h4>Let me tell you a bit about my story first:</h4>
    <p>
      I graduated from college with a bachelor degree in Biomedical Engineering,
      and at the time I was considering whether or not to go to graduate school for Biomedical Engineering.
      It was during that time I decided to look into programming, which I was always interested in but never actively got into before then.
      The initial learning was especially difficult since I was self-studying; it was somewhat comparable to learning a new (literal) language.
      However once I got past the language syntax (I started with C#), I could start seeing the dots connecting.
      From there I started reading books after books, learning not just new languages but how these languages all integrate together.
      So here I am now, being able to understand and appreciate all the different programs and websites I used to take for granted everyday.
    </p>
  </section>

  <section id="skill">
    <p>
      My main area of focus currently is web development using Javascript,
      along with libraries such as jQuery and frameworks such AngularJS for building front-end web applications.
      I am also skilled in back-end development. My preferred server-side languages are Node.js and PHP, with databases MongoDB and MySQL respectively.
      For Node.js, I use ExpressJS as my Node server framework. For PHP, I use XAMPP as my stack development environment in Windows.
    </p>
  </section>
</section>