
<div id="intro">
  <section id="about-me">
    <h2>About Me</h2>

    <p>Hello, my name is Benson Chang and I am a developer with an engineering background. </p>

    <p>
      My main area of focus currently is web development using Javascript,
      along with libraries such as jQuery and frameworks like AngularJS for building front-end web applications.
    </p>
    <p>
      I am also familiar with back-end development, with experience in developing web application having Node.js or PHP on the server-side.
    </p>
    <p>
      For Node.js, I use ExpressJS as my Node server framework and MongoDB as the database.
    </p>
    <p>
      For PHP, I use XAMPP as my stack development environment in Windows.
    </p>
  </section>
</div>
