<div ng-controller="TechCtrl" >
  <h2>{{lookupTerm('skill')}}</h2>
  <alert type="info">
    Looking for a specific set of skills? Try the search bar below for a quick match!
  </alert>
  <div class="input-group" style="margin-bottom: 10px;">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
    <input type="text" ng-model="selected" typeahead="keyword as keyword for keyword in techKeywords | filter:$viewValue | capitalize | limitTo:6"
           class="form-control" placeholder="Search for skills">
  </div>

  <tech-container tech-heading="{{lookupTerm('programLanguage')}}" tech-data="techList" search="selected" tech-filter="{keywords: 'language'}">
  </tech-container>

  <tech-container tech-heading="{{lookupTerm('framework')}}" tech-data="techList" search="selected" tech-filter="{keywords: 'framework'}">
  </tech-container>

  <tech-container tech-heading="{{lookupTerm('library')}}" tech-data="techList" search="selected" tech-filter="{keywords: 'library'}">
  </tech-container>

  <tech-container tech-heading="{{lookupTerm('database')}}" tech-data="techList" search="selected" tech-filter="{keywords: 'database'}">
  </tech-container>

  <tech-container tech-heading="{{lookupTerm('tool')}}" tech-data="techList" search="selected" tech-filter="{keywords: 'tool'}">
  </tech-container>
</div>