<div class="techs">

  <h2>My Skills</h2>
  <pre>Find skills by category: {{selected | json}}</pre>
  <input type="text" ng-model="selected" typeahead="keyword as keyword for keyword in techKeywords | filter:$viewValue | capitalize | limitTo:6"
         class="form-control">

  <tech-container tech-heading="Programming Languages" tech-data="techList" search="selected" tech-filter="{keywords: 'language'}">
  </tech-container>

  <tech-container tech-heading="Frameworks" tech-data="techList" search="selected" tech-filter="{keywords: 'framework'}">
  </tech-container>

  <tech-container tech-heading="Libraries" tech-data="techList" search="selected" tech-filter="{keywords: 'library'}">
  </tech-container>

  <tech-container tech-heading="Databases" tech-data="techList" search="selected" tech-filter="{keywords: 'database'}">
  </tech-container>

  <tech-container tech-heading="Tools" tech-data="techList" search="selected" tech-filter="{keywords: 'tool'}">
  </tech-container>


</div>
